@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background1: #5d4954;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #5d4954;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 26px;
  height: 3px;
  background: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-links.nav-active ul {
  transform: translateX(0%);
}

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .nav-links ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: var(--background1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
